# Default ignored files
/../../conversor de Celsius para Fahrenheit./.idea/shelf/
/../../conversor de Celsius para Fahrenheit./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../conversor de Celsius para Fahrenheit./.idea/httpRequests/
# Datasource local storage ignored files
/../../conversor de Celsius para Fahrenheit./.idea/dataSources/
/../../conversor de Celsius para Fahrenheit./.idea/dataSources.local.xml
